[submodule "panda"]
	path = panda
	url = ../../vaggysag/panda.git
	branch = 075BLE
[submodule "opendbc"]
	path = opendbc
	url = ../../vaggysag/opendbc.git
	branch = 075BLE
[submodule "laika_repo"]
	path = laika_repo
	url = ../../commaai/laika.git
[submodule "apks"]
	path = apks
	url = ../../commaai/openpilot-apks.git
[submodule "cereal"]
	path = cereal
	url = ../../commaai/cereal.git

